In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [5]:
shopping_trends = pd.read_csv(r"C:\Users\Elanu\OneDrive\Masaüstü\shop\shopping_trends.csv")

In [6]:
shopping_updated_trends = pd.read_csv(r"C:\Users\Elanu\OneDrive\Masaüstü\shop\shopping_behavior_updated.csv")

In [7]:
# Examining datas
shopping_trends.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [8]:
# Examining datas
shopping_updated_trends.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [9]:
# Checking missing datas
print(shopping_trends.isnull().sum())

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

In [10]:
# Checking missing datas
print(shopping_updated_trends.isnull().sum())

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [11]:
# Controlling unique values for every columns
for col in shopping_trends.columns:
    print(shopping_trends[col].unique())

[   1    2    3 ... 3898 3899 3900]
[55 19 50 21 45 46 63 27 26 57 53 30 61 65 64 25 52 66 31 56 18 38 54 33
 36 35 29 70 69 67 20 39 42 68 49 59 47 40 41 48 22 24 44 37 58 32 62 51
 28 43 34 23 60]
['Male' 'Female']
['Blouse' 'Sweater' 'Jeans' 'Sandals' 'Sneakers' 'Shirt' 'Shorts' 'Coat'
 'Handbag' 'Shoes' 'Dress' 'Skirt' 'Sunglasses' 'Pants' 'Jacket' 'Hoodie'
 'Jewelry' 'T-shirt' 'Scarf' 'Hat' 'Socks' 'Backpack' 'Belt' 'Boots'
 'Gloves']
['Clothing' 'Footwear' 'Outerwear' 'Accessories']
[ 53  64  73  90  49  20  85  34  97  31  68  72  51  81  36  38  48  62
  37  88  22  25  56  94  79  67  91  33  69  45  60  76  39 100  21  43
  54  55  30  28  59  24  83  46  70  29  26  58  96  40  32  95  41  47
  99  87  92  98  89  35  75  65  86  84  77  27  23  74  80  42  61  82
  78  93  50  57  66  44  52  71  63]
['Kentucky' 'Maine' 'Massachusetts' 'Rhode Island' 'Oregon' 'Wyoming'
 'Montana' 'Louisiana' 'West Virginia' 'Missouri' 'Arkansas' 'Hawaii'
 'Delaware' 'New Hampshire' 'New York' 'Alabama' 'Mississippi'
 'North Carolina' 'California' 'Oklahoma' 'Florida' 'Texas' 'Nevada'
 'Kansas' 'Colorado' 'North Dakota' 'Illinois' 'Indiana' 'Arizona'
 'Alaska' 'Tennessee' 'Ohio' 'New Jersey' 'Maryland' 'Vermont'
 'New Mexico' 'South Carolina' 'Idaho' 'Pennsylvania' 'Connecticut' 'Utah'
 'Virginia' 'Georgia' 'Nebraska' 'Iowa' 'South Dakota' 'Minnesota'
 'Washington' 'Wisconsin' 'Michigan']
['L' 'S' 'M' 'XL']
['Gray' 'Maroon' 'Turquoise' 'White' 'Charcoal' 'Silver' 'Pink' 'Purple'
 'Olive' 'Gold' 'Violet' 'Teal' 'Lavender' 'Black' 'Green' 'Peach' 'Red'
 'Cyan' 'Brown' 'Beige' 'Orange' 'Indigo' 'Yellow' 'Magenta' 'Blue']
['Winter' 'Spring' 'Summer' 'Fall']
[3.1 3.5 2.7 2.9 3.2 2.6 4.8 4.1 4.9 4.5 4.7 2.8 4.6 3.3 4.4 3.6 5.  4.
 3.7 4.2 3.9 3.  3.8 3.4 4.3 2.5]
['Yes' 'No']
['Credit Card' 'Bank Transfer' 'Cash' 'PayPal' 'Venmo' 'Debit Card']
['Express' 'Free Shipping' 'Next Day Air' 'Standard' '2-Day Shipping'
 'Store Pickup']
['Yes' 'No']
['Yes' 'No']
[14  2 23 49 31 19  8  4 26 10 37 34 44 36 17 46 50 22 32 40 16 13  7 41
 45 38 48 18 15 25 39 35 29 21 43  3  5 24 42 47 28 20 33  1  9 12 27 11
 30  6]
['Venmo' 'Cash' 'Credit Card' 'PayPal' 'Bank Transfer' 'Debit Card']
['Fortnightly' 'Weekly' 'Annually' 'Quarterly' 'Bi-Weekly' 'Monthly'
 'Every 3 Months']

In [12]:
# Controlling unique values for every columns
for col in shopping_updated_trends.columns:
    print(shopping_updated_trends[col].unique())

[   1    2    3 ... 3898 3899 3900]
[55 19 50 21 45 46 63 27 26 57 53 30 61 65 64 25 52 66 31 56 18 38 54 33
 36 35 29 70 69 67 20 39 42 68 49 59 47 40 41 48 22 24 44 37 58 32 62 51
 28 43 34 23 60]
['Male' 'Female']
['Blouse' 'Sweater' 'Jeans' 'Sandals' 'Sneakers' 'Shirt' 'Shorts' 'Coat'
 'Handbag' 'Shoes' 'Dress' 'Skirt' 'Sunglasses' 'Pants' 'Jacket' 'Hoodie'
 'Jewelry' 'T-shirt' 'Scarf' 'Hat' 'Socks' 'Backpack' 'Belt' 'Boots'
 'Gloves']
['Clothing' 'Footwear' 'Outerwear' 'Accessories']
[ 53  64  73  90  49  20  85  34  97  31  68  72  51  81  36  38  48  62
  37  88  22  25  56  94  79  67  91  33  69  45  60  76  39 100  21  43
  54  55  30  28  59  24  83  46  70  29  26  58  96  40  32  95  41  47
  99  87  92  98  89  35  75  65  86  84  77  27  23  74  80  42  61  82
  78  93  50  57  66  44  52  71  63]
['Kentucky' 'Maine' 'Massachusetts' 'Rhode Island' 'Oregon' 'Wyoming'
 'Montana' 'Louisiana' 'West Virginia' 'Missouri' 'Arkansas' 'Hawaii'
 'Delaware' 'New Hampshire' 'New York' 'Alabama' 'Mississippi'
 'North Carolina' 'California' 'Oklahoma' 'Florida' 'Texas' 'Nevada'
 'Kansas' 'Colorado' 'North Dakota' 'Illinois' 'Indiana' 'Arizona'
 'Alaska' 'Tennessee' 'Ohio' 'New Jersey' 'Maryland' 'Vermont'
 'New Mexico' 'South Carolina' 'Idaho' 'Pennsylvania' 'Connecticut' 'Utah'
 'Virginia' 'Georgia' 'Nebraska' 'Iowa' 'South Dakota' 'Minnesota'
 'Washington' 'Wisconsin' 'Michigan']
['L' 'S' 'M' 'XL']
['Gray' 'Maroon' 'Turquoise' 'White' 'Charcoal' 'Silver' 'Pink' 'Purple'
 'Olive' 'Gold' 'Violet' 'Teal' 'Lavender' 'Black' 'Green' 'Peach' 'Red'
 'Cyan' 'Brown' 'Beige' 'Orange' 'Indigo' 'Yellow' 'Magenta' 'Blue']
['Winter' 'Spring' 'Summer' 'Fall']
[3.1 3.5 2.7 2.9 3.2 2.6 4.8 4.1 4.9 4.5 4.7 2.8 4.6 3.3 4.4 3.6 5.  4.
 3.7 4.2 3.9 3.  3.8 3.4 4.3 2.5]
['Yes' 'No']
['Express' 'Free Shipping' 'Next Day Air' 'Standard' '2-Day Shipping'
 'Store Pickup']
['Yes' 'No']
['Yes' 'No']
[14  2 23 49 31 19  8  4 26 10 37 34 44 36 17 46 50 22 32 40 16 13  7 41
 45 38 48 18 15 25 39 35 29 21 43  3  5 24 42 47 28 20 33  1  9 12 27 11
 30  6]
['Venmo' 'Cash' 'Credit Card' 'PayPal' 'Bank Transfer' 'Debit Card']
['Fortnightly' 'Weekly' 'Annually' 'Quarterly' 'Bi-Weekly' 'Monthly'
 'Every 3 Months']

In [13]:
#Datas merging according to Customer ID
merged_datas = pd.merge(shopping_trends, shopping_updated_trends, on="Customer ID")
merged_datas.head()

,Customer ID,Age_x,Gender_x,Item Purchased_x,Category_x,Purchase Amount (USD)_x,Location_x,Size_x,Color_x,Season_x,...,Color_y,Season_y,Review Rating_y,Subscription Status_y,Shipping Type_y,Discount Applied_y,Promo Code Used_y,Previous Purchases_y,Payment Method_y,Frequency of Purchases_y
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [14]:
merged_datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3900 entries, 0 to 3899
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age_x                     3900 non-null   int64
 2   Gender_x                  3900 non-null   object
 3   Item Purchased_x          3900 non-null   object
 4   Category_x                3900 non-null   object
 5   Purchase Amount (USD)_x   3900 non-null   int64
 6   Location_x                3900 non-null   object
 7   Size_x                    3900 non-null   object
 8   Color_x                   3900 non-null   object
 9   Season_x                  3900 non-null   object
 10  Review Rating_x           3900 non-null   float64
 11  Subscription Status_x     3900 non-null   object
 12  Payment Method_x          3900 non-null   object
 13  Shipping Type_x           3900 non-null   object
 14  Discount Applied_x        3900 non-null   object
 15  Promo Code Used_x         3900 non-null   object
 16  Previous Purchases_x      3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases_x  3900 non-null   object
 19  Age_y                     3900 non-null   int64
 20  Gender_y                  3900 non-null   object
 21  Item Purchased_y          3900 non-null   object
 22  Category_y                3900 non-null   object
 23  Purchase Amount (USD)_y   3900 non-null   int64
 24  Location_y                3900 non-null   object
 25  Size_y                    3900 non-null   object
 26  Color_y                   3900 non-null   object
 27  Season_y                  3900 non-null   object
 28  Review Rating_y           3900 non-null   float64
 29  Subscription Status_y     3900 non-null   object
 30  Shipping Type_y           3900 non-null   object
 31  Discount Applied_y        3900 non-null   object
 32  Promo Code Used_y         3900 non-null   object
 33  Previous Purchases_y      3900 non-null   int64
 34  Payment Method_y          3900 non-null   object
 35  Frequency of Purchases_y  3900 non-null   object
dtypes: float64(2), int64(7), object(27)
memory usage: 1.1+ MB

In [15]:
# Assuming merged_datas is your dataframe
# Create a new column 'Total Spent' by summing the purchase amounts for each customer
merged_datas['Total Spent'] = merged_datas.groupby('Customer ID')['Purchase Amount (USD)_x'].transform('sum')

# Create a new column 'Average Purchase Amount' by calculating the mean of the purchase amounts for each customer
merged_datas['Average Purchase Amount'] = merged_datas.groupby('Customer ID')['Purchase Amount (USD)_x'].transform('mean')

# Assuming 'Frequency of Purchases_y' is in a format like 'Fortnightly', you might want to convert it to a numerical value
# Create a new column 'Purchase Frequency' by mapping the frequency to numerical values
frequency_mapping = {'Daily': 1, 'Weekly': 7, 'Fortnightly': 14, 'Monthly': 30}  # Adjust as needed
merged_datas['Purchase Frequency'] = merged_datas['Frequency of Purchases_y'].map(frequency_mapping)

# Assuming 'Time Since Last Purchase' is calculated based on the difference between the current date and 'Previous Purchases_y'
# Create a new column 'Time Since Last Purchase' by calculating the difference
merged_datas['Time Since Last Purchase'] = pd.to_datetime('today') - pd.to_datetime(merged_datas['Previous Purchases_y'], format='%Y-%m-%d')

# Create a new column 'Category Combinations' by concatenating 'Category_x' and 'Category_y'
merged_datas['Category Combinations'] = merged_datas['Category_x'] + ', ' + merged_datas['Category_y']

# Display the modified dataframe
merged_datas.head()

,Customer ID,Age_x,Gender_x,Item Purchased_x,Category_x,Purchase Amount (USD)_x,Location_x,Size_x,Color_x,Season_x,...,Discount Applied_y,Promo Code Used_y,Previous Purchases_y,Payment Method_y,Frequency of Purchases_y,Total Spent,Average Purchase Amount,Purchase Frequency,Time Since Last Purchase,Category Combinations
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Yes,Yes,14,Venmo,Fortnightly,53,53.0,14.0,19763 days 00:43:17.645842986,"Clothing, Clothing"
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Yes,Yes,2,Cash,Fortnightly,64,64.0,14.0,19763 days 00:43:17.645842998,"Clothing, Clothing"
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Yes,Yes,23,Credit Card,Weekly,73,73.0,7.0,19763 days 00:43:17.645842977,"Clothing, Clothing"
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Yes,Yes,49,PayPal,Weekly,90,90.0,7.0,19763 days 00:43:17.645842951,"Footwear, Footwear"
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Yes,Yes,31,PayPal,Annually,49,49.0,NaN,19763 days 00:43:17.645842969,"Clothing, Clothing"

In [16]:
merged_datas.columns

Index(['Customer ID', 'Age_x', 'Gender_x', 'Item Purchased_x', 'Category_x',
       'Purchase Amount (USD)_x', 'Location_x', 'Size_x', 'Color_x',
       'Season_x', 'Review Rating_x', 'Subscription Status_x',
       'Payment Method_x', 'Shipping Type_x', 'Discount Applied_x',
       'Promo Code Used_x', 'Previous Purchases_x', 'Preferred Payment Method',
       'Frequency of Purchases_x', 'Age_y', 'Gender_y', 'Item Purchased_y',
       'Category_y', 'Purchase Amount (USD)_y', 'Location_y', 'Size_y',
       'Color_y', 'Season_y', 'Review Rating_y', 'Subscription Status_y',
       'Shipping Type_y', 'Discount Applied_y', 'Promo Code Used_y',
       'Previous Purchases_y', 'Payment Method_y', 'Frequency of Purchases_y',
       'Total Spent', 'Average Purchase Amount', 'Purchase Frequency',
       'Time Since Last Purchase', 'Category Combinations'],
      dtype='object')

In [17]:
merged_datas = merged_datas.drop(['Customer ID', 'Age_x', 'Gender_x', 'Category_x',
                                  'Location_x', 'Size_x', 'Color_x',
                                  'Season_x', 'Review Rating_x', 'Age_y', 'Gender_y', 'Category_y',
                                  'Location_y', 'Size_y', 'Color_y',
                                  'Season_y', 'Review Rating_y'], axis=1)

In [18]:
merged_datas.head()

,Item Purchased_x,Purchase Amount (USD)_x,Subscription Status_x,Payment Method_x,Shipping Type_x,Discount Applied_x,Promo Code Used_x,Previous Purchases_x,Preferred Payment Method,Frequency of Purchases_x,...,Discount Applied_y,Promo Code Used_y,Previous Purchases_y,Payment Method_y,Frequency of Purchases_y,Total Spent,Average Purchase Amount,Purchase Frequency,Time Since Last Purchase,Category Combinations
0,Blouse,53,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly,...,Yes,Yes,14,Venmo,Fortnightly,53,53.0,14.0,19763 days 00:43:17.645842986,"Clothing, Clothing"
1,Sweater,64,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly,...,Yes,Yes,2,Cash,Fortnightly,64,64.0,14.0,19763 days 00:43:17.645842998,"Clothing, Clothing"
2,Jeans,73,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly,...,Yes,Yes,23,Credit Card,Weekly,73,73.0,7.0,19763 days 00:43:17.645842977,"Clothing, Clothing"
3,Sandals,90,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly,...,Yes,Yes,49,PayPal,Weekly,90,90.0,7.0,19763 days 00:43:17.645842951,"Footwear, Footwear"
4,Blouse,49,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually,...,Yes,Yes,31,PayPal,Annually,49,49.0,NaN,19763 days 00:43:17.645842969,"Clothing, Clothing"

In [19]:
#Applying label encoding
label_encoder = LabelEncoder()

# Selecting categorical columns for label encoding
categorical_columns = ['Item Purchased_x', 'Subscription Status_x', 'Shipping Type_x', 'Discount Applied_x', 'Promo Code Used_x', 'Payment Method_x', 'Frequency of Purchases_x','Item Purchased_y', 'Subscription Status_y', 'Shipping Type_y', 'Discount Applied_y', 'Promo Code Used_y', 'Payment Method_y', 'Frequency of Purchases_y', 'Category Combinations', 'Time Since Last Purchase', 'Preferred Payment Method']

# Applying label encoding to each categorical column
for column in categorical_columns:
    merged_datas[column] = label_encoder.fit_transform(merged_datas[column])

# Display the encoded dataframe
merged_datas.head()

,Item Purchased_x,Purchase Amount (USD)_x,Subscription Status_x,Payment Method_x,Shipping Type_x,Discount Applied_x,Promo Code Used_x,Previous Purchases_x,Preferred Payment Method,Frequency of Purchases_x,...,Discount Applied_y,Promo Code Used_y,Previous Purchases_y,Payment Method_y,Frequency of Purchases_y,Total Spent,Average Purchase Amount,Purchase Frequency,Time Since Last Purchase,Category Combinations
0,2,53,1,2,1,1,1,14,5,3,...,1,1,14,5,3,53,53.0,14.0,36,1
1,23,64,1,0,1,1,1,2,1,3,...,1,1,2,1,3,64,64.0,14.0,48,1
2,11,73,1,1,2,1,1,23,2,6,...,1,1,23,2,6,73,73.0,7.0,27,1
3,14,90,1,4,3,1,1,49,4,6,...,1,1,49,4,6,90,90.0,7.0,1,2
4,2,49,1,1,2,1,1,31,4,0,...,1,1,31,4,0,49,49.0,NaN,19,1

In [20]:
merged_datas.columns

Index(['Item Purchased_x', 'Purchase Amount (USD)_x', 'Subscription Status_x',
       'Payment Method_x', 'Shipping Type_x', 'Discount Applied_x',
       'Promo Code Used_x', 'Previous Purchases_x', 'Preferred Payment Method',
       'Frequency of Purchases_x', 'Item Purchased_y',
       'Purchase Amount (USD)_y', 'Subscription Status_y', 'Shipping Type_y',
       'Discount Applied_y', 'Promo Code Used_y', 'Previous Purchases_y',
       'Payment Method_y', 'Frequency of Purchases_y', 'Total Spent',
       'Average Purchase Amount', 'Purchase Frequency',
       'Time Since Last Purchase', 'Category Combinations'],
      dtype='object')

In [21]:
merged_datas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3900 entries, 0 to 3899
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Item Purchased_x          3900 non-null   int32
 1   Purchase Amount (USD)_x   3900 non-null   int64
 2   Subscription Status_x     3900 non-null   int32
 3   Payment Method_x          3900 non-null   int32
 4   Shipping Type_x           3900 non-null   int32
 5   Discount Applied_x        3900 non-null   int32
 6   Promo Code Used_x         3900 non-null   int32
 7   Previous Purchases_x      3900 non-null   int64
 8   Preferred Payment Method  3900 non-null   int32
 9   Frequency of Purchases_x  3900 non-null   int32
 10  Item Purchased_y          3900 non-null   int32
 11  Purchase Amount (USD)_y   3900 non-null   int64
 12  Subscription Status_y     3900 non-null   int32
 13  Shipping Type_y           3900 non-null   int32
 14  Discount Applied_y        3900 non-null   int32
 15  Promo Code Used_y         3900 non-null   int32
 16  Previous Purchases_y      3900 non-null   int64
 17  Payment Method_y          3900 non-null   int32
 18  Frequency of Purchases_y  3900 non-null   int32
 19  Total Spent               3900 non-null   int64
 20  Average Purchase Amount   3900 non-null   float64
 21  Purchase Frequency        1634 non-null   float64
 22  Time Since Last Purchase  3900 non-null   int64
 23  Category Combinations     3900 non-null   int32
dtypes: float64(2), int32(16), int64(6)
memory usage: 518.0 KB

In [22]:
merged_datas['Payment Method_sum'] = merged_datas['Payment Method_x']  + merged_datas['Payment Method_y']
merged_datas['Purchase Amount (USD)_sum'] = merged_datas['Purchase Amount (USD)_x']  + merged_datas['Purchase Amount (USD)_y']
merged_datas['Discount Applied_sum'] = merged_datas['Discount Applied_x']  + merged_datas['Discount Applied_y']
merged_datas['Previous Purchases_sum'] = merged_datas['Previous Purchases_x']  + merged_datas['Previous Purchases_y']
merged_datas['Frequency of Purchases_sum'] = merged_datas['Frequency of Purchases_x']  + merged_datas['Frequency of Purchases_y']
merged_datas.head()

,Item Purchased_x,Purchase Amount (USD)_x,Subscription Status_x,Payment Method_x,Shipping Type_x,Discount Applied_x,Promo Code Used_x,Previous Purchases_x,Preferred Payment Method,Frequency of Purchases_x,...,Total Spent,Average Purchase Amount,Purchase Frequency,Time Since Last Purchase,Category Combinations,Payment Method_sum,Purchase Amount (USD)_sum,Discount Applied_sum,Previous Purchases_sum,Frequency of Purchases_sum
0,2,53,1,2,1,1,1,14,5,3,...,53,53.0,14.0,36,1,7,106,2,28,6
1,23,64,1,0,1,1,1,2,1,3,...,64,64.0,14.0,48,1,1,128,2,4,6
2,11,73,1,1,2,1,1,23,2,6,...,73,73.0,7.0,27,1,3,146,2,46,12
3,14,90,1,4,3,1,1,49,4,6,...,90,90.0,7.0,1,2,8,180,2,98,12
4,2,49,1,1,2,1,1,31,4,0,...,49,49.0,NaN,19,1,5,98,2,62,0

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Select independent variables and the target variable
X = merged_datas[['Purchase Amount (USD)_sum', 'Discount Applied_sum', 'Previous Purchases_sum', 'Frequency of Purchases_sum', 'Total Spent']]
y = merged_datas['Payment Method_sum']

# Split the training and test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model with RandomForestClassifier
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)

# Train the model with LogisticRegression
lr_model = LogisticRegression(max_iter=1000)  # max_iter increased
lr_model.fit(X_train, y_train)

# Train the model with SVC (Support Vector Classification)
svc_model = SVC(max_iter=1000, kernel='linear')  # max_iter and kernel set
svc_model.fit(X_train, y_train)

# Evaluation function for models
def evaluate_model(model, X_test, y_test):
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    return accuracy, precision, recall, f1

# Evaluate the model for RandomForestClassifier
rf_accuracy, rf_precision, rf_recall, rf_f1 = evaluate_model(rf_model, X_test, y_test)
print(f'RandomForestClassifier - Accuracy: {rf_accuracy}, Precision: {rf_precision}, Recall: {rf_recall}, F1 Score: {rf_f1}')

# Evaluate the model for LogisticRegression
lr_accuracy, lr_precision, lr_recall, lr_f1 = evaluate_model(lr_model, X_test, y_test)
print(f'LogisticRegression - Accuracy: {lr_accuracy}, Precision: {lr_precision}, Recall: {lr_recall}, F1 Score: {lr_f1}')

# Evaluate the model for SVC
svc_accuracy, svc_precision, svc_recall, svc_f1 = evaluate_model(svc_model, X_test, y_test)
print(f'SVC - Accuracy: {svc_accuracy}, Precision: {svc_precision}, Recall: {svc_recall}, F1 Score: {svc_f1}')

C:\Users\Elanu\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

RandomForestClassifier - Accuracy: 0.11153846153846154, Precision: 0.11255402749110992, Recall: 0.11153846153846154, F1 Score: 0.11146882649185773
LogisticRegression - Accuracy: 0.17692307692307693, Precision: 0.040451723686403346, Recall: 0.17692307692307693, F1 Score: 0.06259335590081129
SVC - Accuracy: 0.07179487179487179, Precision: 0.09074920487012297, Recall: 0.07179487179487179, F1 Score: 0.05826278190971009

C:\Users\Elanu\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\svm\_base.py:297: ConvergenceWarning: Solver terminated early (max_iter=1000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  warnings.warn(
C:\Users\Elanu\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Elanu\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))